<h1>Voeg recept toe: </h1>
<form action="add.html" method="post">
    <label for="naam">Naam recept: </label>
    <input id="naam" type="text" name="naam">

    <br>

     <label for="calorieAantal">Aantal calorieën : </label>
    <input id="calorieAantal" type="text" name="calorieAantal">

    <br>
    
     <label for="ingredient">Ingrediënt: </label>
    <input id="ingredient" type="text" name="ingredient">

    <br>
    
     <label for="benodigdeTijd">Benodigde tijd: </label>
    <input id="benodigdeTijd" type="text" name="benodigdeTijd">

    <br>
    
    <input type="submit" value="Voeg toe">
</form>